body {
  font-family: 'Roboto Condensed', sans-serif;
}
.navbar {
  background:#ffffff;
}
.navbar-brand {
  padding-left:54px;
}
.navbar-brand, nav .nav-link {
  font-weight: 300;
}
/* -------------- burger -------------- */
.burger { width:30px; height:30px; position:relative; border-radius: 0px; z-index: 1032;}
.burger span { position: relative; margin-top: 9px; margin-bottom: 9px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; position: absolute; top: 50%; left: 50%; margin-left: -15px; margin-top: -1.5px;}
.burger span, .burger span::before, .burger span::after { display: block; width: 30px; height: 1px; background-color: #2a2a2a; outline: 1px solid transparent; -webkit-transition-property: background-color, -webkit-transform; -moz-transition-property: background-color, -moz-transform; -o-transition-property: background-color, -o-transform; transition-property: background-color, transform; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s;}
.burger span::before, .burger span::after { position: absolute; content: "";}
.burger span::before { top: -9px; }
.burger span::after { top: 9px; }
.burger.clicked span { background-color: transparent; }
.burger.clicked span::before { -webkit-transform: translateY(9px) rotate(45deg); -moz-transform: translateY(9px) rotate(45deg); -ms-transform: translateY(9px) rotate(45deg); -o-transform: translateY(9px) rotate(45deg); transform: translateY(9px) rotate(45deg);}
.burger.clicked span::after { -webkit-transform: translateY(-9px) rotate(-45deg); -moz-transform: translateY(-9px) rotate(-45deg); -ms-transform: translateY(-9px) rotate(-45deg); -o-transform: translateY(-9px) rotate(-45deg); transform: translateY(-9px) rotate(-45deg);}
.burger.clicked span:before, .burger.clicked span:after { background-color: #2a2a2a; }
.burger:hover { cursor: pointer; }
